$sidebar-border-color: #D5CFCF;
$login-bg-color: #f0f8ff;
$loginpage-bg-color: #FFFFFF;
$loginimage-bg-color:  #0080FF;
$inputbox-border-color: #F5EDED;
$button-bg-color: #1877F2;
$icon-color: #1876b0;
$mail-color: #EA4335;
$mail-bg-color:#932015;
$reg-color:#000000;
$reg-bg-color: #0000FF;
$border-color: #262424;
$border-line-color: #cccccc;
$box-shadow-color: #00000033;
