.UserProfile-DeleteProfile {
  .delete-profile {
    position: absolute;
    height: 120px;
    width: 200px;
    left: 1250px;
    top: 50px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    display: flex;
    flex-direction: column;
    button {
      flex: 1;
      background-color: transparent;
      border: 0;
      border-radius: 5px;
      border-top: 1px solid #dcdcdc;
      font-family: inherit;
      font-size: large;
    }
    button:hover{
      background-color: #dcdcdc;
      cursor: pointer;
    }
  }
}
